{
  "parser": "babel-eslint",
  "extends": ["airbnb-base"],
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "mocha": true
  },
  "rules": {
    "no-unused-vars": 0,
    "strict": 0,
    "class-methods-use-this": 0,
    "no-console": 0,
    "no-new": 0
  }
}
